body{
	margin:0;
	font-family: 'Lora', serif;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 64px;
	font-weight: 700;
	margin: 0;
}
h2 {
	font-family: 'Raleway', sans-serif;
}
h4{
	font-family: 'Raleway', sans-serif;
	margin:0;
}
h6{
	font-family: 'Raleway', sans-serif;
	margin:0;
	font-size: 10px;
	text-transform: uppercase;
}

p {
	font-family: 'Raleway', sans-serif;
}

/* NAV */

nav{
	position: fixed;
	left:0;
	top:0;
	z-index: 999;
	width:60px;
	background-color: #011627;
	color: #FCECC9;
}
.logo{
	height:60px;
}
.logo svg {
	color: #EAC435;
	fill: currentColor;
	transform: rotate(360deg);
	transition: all .5s ease-in-out;
}
.logo:hover > svg{
	color: #E40066;
	fill: currentColor;
	transform: rotate(0deg);
	transition: all .5s ease-in-out;
}
div[class^="nav-item-"] {
	position: relative;
}
div[class^="nav-item-"] > .icon svg{
	height:20px;
	width:20px;
	padding: 20px;
	z-index: 2;
	position: relative;
	color: #EAC435;
	fill:currentColor;
	transition: all .2s ease-in-out;
	transition-delay: .05s;
}

div[class^="nav-item-"]:hover  > .icon svg{
	color: #E40066;
	fill:currentColor;
	transition: all .2s ease-in-out;
	transition-delay: .05s;
	z-index: 2;
}

div[class^="nav-item-"] > .text {
	color: #EAC435;
	height: 20px;
	padding: 20px 20px 20px 10px;
	font-family: 'Lora', serif;
	position: absolute;
	transform: translate3d(20px, -60px, 0px);
	transition: all .2s ease-in-out;
	transition-delay: .05s;
	z-index: 1;
	opacity: 0;
}
div[class^="nav-item-"]:hover  > .text {
	background-color: #011627;
	color: #E40066;
	transform: translate3d(40px, -60px, 0px);
	transition: all .2s ease-in-out;
	transition-delay: .05s;
	opacity: 1;
}

/* SECTIONS */

section{
	min-height:100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	max-width:100vw;
	position: relative;
	-webkit-box-shadow: -1px -1px 11px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -1px 11px -1px rgba(0,0,0,0.75);
	box-shadow: -1px -1px 11px -1px rgba(0,0,0,0.75);
}
.panel-fixed {
	z-index: 1;
}
.panel-fixed .panel-inner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.rel{
	position: relative;
    padding: 60px 100px;
    width: 100vw;
    min-height: 100vh;
}

/*HOME*/

#home {
	z-index: 10;
	background: #345995;
}
.stripes{
	background: url(images/bg.svg);
    background-size: 10px 10px;
    opacity: .3;
    position: fixed;
    height:200%;
    width:200%;
  	top: -50%;
  	left: -50%;
	transform: rotate(-45deg);
}
#home .biglogo{
	z-index: 11;
	opacity: 1;
	position: fixed;
	left:30vw;
	min-height:1300px;
	min-width:1300px;
	animation: slowdown 60s linear 0s infinite alternate;
}
.biglogo svg {
	color: #E40066;
	fill: currentColor;
}
.lillogo{
	position: fixed;
    left: 334px;
    top: 95px;
	transform: rotate(45deg);
	height:80px;
	width:80px;
}
.lillogo svg {
	color: #EAC435;
	fill: currentColor;
}
#homewiggle{
	display: inline-block;
    position: relative;
    z-index: 30;
    height: 40px;
    width: 400px;
    margin: 0 .75vh .25vh 0;
    overflow: hidden;
}
#homewiggle span{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 40px;
    overflow: hidden;
}
#homewiggle span figure {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	width:800px;
	height:40px;
	background-image: url(images/wiggle.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	background-size: 400px 20px;
	animation: wiggy 2s linear 0s infinite;
}
#scrollformore{
	position: fixed;
	z-index: 99;
	bottom: 15vh;
	right: 0;
	cursor: default;
	transform: rotate(90deg) translateX(0px);
	animation: dropin 1s ease-in-out 0s 1, vertwiggle 3s ease-in-out 3s infinite;
}
#scrollformore h6{
	color:#EAC435;
	padding:1px 4px;
	background-color: #011627;
	font-weight: 400;
}

#header{
	position: fixed;
	left:5vw;
	top:40vh;
	transform: rotate(-45deg);
	z-index: 150;
	white-space:nowrap;
	color: #EAC435;
}
#subheader{
	position: fixed;
	left: 469px;
    top: 55px;
	transform: rotate(90deg);
	z-index: 150;
	color: #EAC435;
}
#subheader h4{
	background-color: #EAC435;
	color: #011627;
	margin-bottom: 8px;
	margin-left: -40px;
	padding: 3px 8px;
	cursor: default;
	transform: translateX(0px);
	transition: all .25s ease-in-out;
}
#subheader h4:hover{
	transform: translateX(30px);
	transition: all .25s ease-in-out;
}

/*WORK*/

#work{
	background-color: #E40066;
	z-index: 100;
}
#work .rel{
	z-index: 110;
}
#work .biglogo{
	z-index: 109;
	opacity: 1;
	top:0;
	position: absolute;
	left:30vw;
	min-height:1300px;
	min-width:1300px;
	animation: slowdown 60s linear 0s infinite alternate;
}
#work .biglogo svg {
	color: #345995;
	fill: currentColor;
}

#work h1{
	position: absolute;
	top:100px;
	transform: rotate(-90deg);
}
#workholder{
	width: 70vw;
	left:210px;
	top:54px;
	z-index: 220;
	position: absolute;
}
#workholder .actproj h2{
	background-color: #345995;
	color: #E40066;
}
#workholder h2{
	display: inline-block;
	background-color: #EAC435;
	color: #345995;
	margin:5px;
	padding: 1px 5px;
	transition: all .25s ease-in-out;
}
#workholder h2:hover{
	cursor: pointer;
	background-color: #345995;
	color: #E40066;
	transition: all .25s ease-in-out;
}
#showcase{
	margin:5px;
 	position: relative;
  	perspective: 1000px;
	width: 798px;
	height:559px;
	position: relative;
}
#treedhelper{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
}
#treedhelper img{
	margin: 0;
  	display: block;
  	position: absolute;
  	backface-visibility: hidden;
	width: 798px;
	height:559px;
	opacity: 0;
	transform: rotateY(90deg) translateZ(399px) translateX(50%);
}
#treedhelper img.active{
	opacity: 1;
	transform: rotateY(0deg) translateZ(0vh) translateX(0%);
	transition: transform .5s linear, opacity .1s linear .1s;
}
#treedhelper img.postactive{
	opacity: 0;
	transform: rotateY(-90deg)  translateZ(399px)  translateX(-50%);
	transition: transform .5s linear, opacity .5s linear;
}
/*CONTACT*/

#contact{
	z-index: 200;
	width:100vw;
	background-color: #EAC435;
	background-image: url(images/dots.svg);
    background-size: 20px 20px;
}
#contact .rel{
	z-index: 210;
	padding-top: 0;
	padding-bottom: 0;
}
.contactspot{
	transform: translateX(60px) translateY(100px);
	width:75vw;
}
.contactspot h1{
	color: #345995;
	margin-right: 100px;
}
.contactspot h2{
	font-family: 'Lora', serif;
	font-size: 64px;
	font-weight: 700;
	margin: 0;
	color: #EAC435;
	display: inline-block;
	padding: 0 15px;
	margin-right: 15px;
	white-space:nowrap;
	margin-bottom: 15px;
	background-color: #345995;
	transition: all .25s ease-in-out;
}
.contactspot h2:hover {
	background-color: #E40066;
	transition: all .25s ease-in-out;
}
.contactspot a{
	text-decoration: none;
}

#contact .biglogo{
	opacity: 1;
	top:0;
	position: absolute;
	left:30vw;
	min-height:1300px;
	min-width:1300px;
	animation: slowdown 60s linear 0s infinite alternate;
}
#contact .biglogo svg {
	color: #E40066;
	fill: currentColor;
}

/*ANIMATIONS*/
/*
  syntax for properties
  animation: name duration timing-function delay iteration-count direction fill-mode play-state;
*/

@keyframes dropin {
  0% {
	transform: rotate(90deg) translateX(-50px);
    opacity: 0;
  }
  100% {
	transform: rotate(90deg) translateX(0px);
  	opacity: 1;
  }
}
@keyframes wiggy {
  0% {
	transform: translateX(0px);
  }
  100% {
	transform: translateX(200px);
  }
}
@keyframes slowdown {
  0% {
	transform: translateY(-35vw);
	opacity: 0;
  }
  2%{
  	opacity: .8;
  }
  100% {
	transform: translateY(0vw);
  }
}

@keyframes vertwiggle {
  0% {
	transform: rotate(90deg) translateX(0px);
  }
  5%{
  	transform: rotate(90deg) translateX(-10px);
  }
  10% {
	transform: rotate(90deg) translateX(0px);
  }
  15%{
  	transform: rotate(90deg) translateX(-10px);
  }
  20% {
	transform: rotate(90deg) translateX(0px);
  }
  100% {
	transform: rotate(90deg) translateX(0px);
  }
}

/* COLORS */

blue 345995
yellow EAC435
pink E40066
white FCECC9
navy 011627 